<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-8 offset-2 col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-9 offset-lg-1 col-xl-10 offset-xl-0">
            <div class="card shadow">
                <img src="https://www.splashrvresort.com/wp-content/uploads/elementor/thumbs/289769057_5081151788599051_8526821867757086068_n-pthw7mu2h66jewn4h0xpt5rc9p53o0pcgs17ra02bc.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">New Campground:</h5>
                    <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="title">Title</label>
                            <input class="form-control" type="text" id="title" name="campground[title]" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="location">Location</label>
                            <input class="form-control" type="text" id="location" name="campground[location]" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="mb-3 custom-file">
                            <label for="image" class="form-label custom-file-label">Images</label>
                            <input class="form-control" type="file" id="image" name="image" multiple>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="price">Campground Price</label>
                            <div class="input-group">
                                <span class="input-group-text" id="price-label">
                                    $
                                </span>
                                <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]" aria-label="price" aria-describedby="basic-addon1" required>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea name="campground[description]" id="description" class="form-control" required></textarea>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success">Add Campground</button>
                        </div>
                    </form> 
                </div>
        </div>
    </div>
</div>


    